@import "../../styles/responsive.scss";

.add_post {
  height: 100vh;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  main.addpost {
    height: 100%;
    .form-section {
      height: 100%;
      display: grid;
      place-items: center;
      .wrap {
        input[type="file"] {
          cursor: pointer;
          padding: 0.2rem;
          height: fit-content;
        }
        width: 80%;

        .input-grp {
          div:first-of-type {
            flex: 2.5 !important;
          }
          div:last-of-type {
            align-self: flex-end;
          }
        }

        .form-header {
          h2 {
            color: white;
          }
        }
        select {
          width: 100%;
          cursor: pointer;

          @include xsm {
            width: initial;
          }
        }

        textarea {
          // display: none;
          height: 200px;
        }

        button:disabled {
          cursor: not-allowed;
          background-color: #00122069;
        }

        .message {
          border: 1px solid;
          text-align: center;
          margin-top: 0.3rem;
          padding: 0.3rem;
          color: white;
          font-size: 1rem;
          &.hide {
            display: none;
          }
          &.success {
            background-color: rgb(152, 224, 45);
          }
          &.failure {
            background-color: red;
          }
        }
      }
    }
    @include xsm {
      .form-section {
        .wrap {
          margin-top: 2rem;
          padding: 0.2rem;
          width: 95%;
        }
      }
    }
  }

  a.btn-back {
    border: 1px solid;
    color: #001220;
    padding: 0.2rem 1.2rem;
    border-radius: 20px;
    position: absolute;
    top: 1rem;
    left: 1.5rem;
    transition: all 0.3s ease;

    &:hover {
      background-color: #001220;
      color: white;
    }
  }
}
