@import "../../styles/responsive.scss";

// section.top {
//   border-image-source: linear-gradient(hsl(0, 100%, 50%), hsl(0, 0%, 0%));
//   border-image-slice: 1 fill;
// }

// .form-section {
//   // border: 1px solid;
//   min-height: max-content;
//   padding-block: 1rem;

//   background-color: #fff;

//   .form-header {
//     h2 {
//       border: 1px solid;
//       text-align: center;
//       padding: 2rem;
//       background-color: black; //#ff5197
//       font-weight: 100;
//     }
//   }

//   .wrap {
//     // border: 1px solid;
//     width: 60%;
//     margin: auto;

//     form {
//       // border: 1px solid;
//       margin: auto;
//       padding: 1rem 0;

//       .row {
//         margin-bottom: 1rem;
//         // border: 1px solid;

//         // ***** Changes i made after adding divs and labels****

//         // &.input-grp input:nth-of-type(1) {
//         //     width: 60%;
//         //     margin-right: 9%;

//         //     @include xxsm {
//         //         width: 100%;
//         //         margin-right: 0;
//         //         margin-bottom: 1rem;
//         //     }
//         // }

//         // &.input-grp input:nth-of-type(2) {
//         //     width: 20%;
//         //     appearance: none;
//         //     -moz-appearance: textfield;

//         //     @include xxsm {
//         //         width: 100%;
//         //     }
//         // }

//         &.input-grp {
//           display: flex;
//           gap: 10px;

//           div {
//             flex: 1;

//             @include xxsm {
//               width: 100%;
//             }
//           }

//           @include xxsm {
//             flex-direction: column;
//           }
//         }
//       }

//       input {
//         width: 100%;
//         height: 40px;
//         background-color: transparent;
//         border: none;
//         color: black;
//         border-bottom: 1px solid rgba(6, 6, 6, 0.235);
//         // padding-left: .5rem;

//         appearance: none;
//         -moz-appearance: textfield;

//         &:focus {
//           outline: none;
//         }

//         &[type="radio"] {
//           display: block;
//           border: 1px solid red;
//           font-size: 1rem;
//           height: 12px !important;
//           width: 12px !important;
//           border-radius: 50%;
//         }
//       }

//       label {
//         display: block;
//         margin-bottom: 0.2rem;
//         color: black;
//         font-family: consolas;
//       }

//       select {
//         appearance: none;
//         -moz-appearance: none;
//         -webkit-appearance: none;
//         background-color: transparent;
//         color: black;

//         padding: 0.2rem 0.5rem;
//         border: 1px solid rgba(6, 6, 6, 0.235);
//       }

//       textarea {
//         width: 100%;
//         height: 250px;
//         background-color: transparent;
//         border: none;
//         color: black;
//         padding: 0.5rem;
//         border-block: 1px solid rgba(6, 6, 6, 0.235);
//         resize: none;

//         &:focus {
//           outline: none;
//         }
//       }

//       button {
//         padding: 0.5rem 2rem;
//         border: none;
//         background-color: #ff0066;
//         transition: all 0.3s ease;
//         color: white;
//         cursor: pointer;

//         margin-top: 2rem; //comented this out when i added the pop up after a form is submited

//         &:hover {
//           background-color: #001220;
//         }
//       }

//       .wed_in {
//         padding: 0.2rem;
//         display: flex;
//         gap: 10px;
//         width: fit-content;

//         label {
//           display: flex;
//           place-items: center;
//           justify-content: flex-start;
//           border: 1px solid black;
//           padding: 0.2rem;
//           width: 60px;
//           height: fit-content;

//           input {
//             margin: 0.2rem;
//             height: 80%;
//             width: 30%;
//             cursor: pointer;
//           }
//         }
//       }
//     }

//     @include xsm {
//       width: 95%;
//     }

//     @include xxsm {
//       width: 90%;
//     }
//   }
// }

main {
  width: 100%;
  height: 100%;
  position: relative;
}
