.hero {
  height: 700px;
  background: url("/imgs/hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: 0;
}

.hero .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60%;
  color: white;
  padding: .5rem 1rem;
}

.hero .left h1 {
  font-size: 6rem;
  max-width: 500px;
}

.hero .left p:nth-of-type(1) {
  font-style: italic;
}

.hero .left p {
  max-width: 500px;
  margin-block: .5rem;
  text-align: justify;
}

.hero .left button {
  width: 230px;
  margin-top: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
  font-weight: 600;
  border: 2px solid white;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 4px 4px 3px 1px #ff5197;
          box-shadow: 4px 4px 3px 1px #ff5197;
}

.hero .left button:hover {
  background-color: transparent;
  color: white;
}

@media (max-width: 632px) {
  .hero .left {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .hero .left h1,
  .hero .left p,
  .hero .left button {
    text-align: center;
    margin-inline: auto;
  }
  .hero .left h1 {
    font-size: 4.5rem;
  }
  .hero .left button {
    padding: .7rem;
  }
  .hero .left p:nth-of-type(1) {
    font-size: 14px;
  }
}

@media (max-width: 524px) {
  .hero .left h1 {
    font-size: 3.5rem;
  }
}

.hero .items {
  width: 90%;
  position: absolute;
  bottom: -70px;
  left: 50px;
  right: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: .5rem 1rem;
  background-color: #fff;
}

.hero .items .item {
  text-align: center;
  z-index: 1;
  padding: .5rem;
  color: #001220;
}

.hero .items .item .icon {
  position: relative;
}

.hero .items .item .icon .ic-bg {
  position: absolute;
  top: 15px;
  right: 0px;
  left: 50px;
  border-radius: 50%;
  margin: auto;
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ff0066;
  z-index: -1;
}

@media (max-width: 905px) {
  .hero .items {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media (max-width: 632px) {
  .hero .items {
    position: relative;
    gap: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 2rem;
  }
}

@media (max-width: 632px) {
  .hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 4rem 0;
  }
  .hero.overlay {
    border-image-source: linear-gradient(rgba(3, 3, 3, 0.411), rgba(0, 0, 0, 0.749));
    border-image-slice: fill 1;
  }
  .hero .items {
    margin-bottom: 1rem;
  }
}

section.wave {
  height: 800px;
  padding-top: 150px;
  background-color: #001220;
  background: url("./imgs/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -310px;
  color: white;
}

section.wave .programs {
  width: 95%;
  margin-inline: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

section.wave .programs .program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 100px;
  height: 250px;
  padding: .5rem;
  margin-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section.wave .programs .program .program-card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

section.wave .programs .program .program-txt {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  padding: .5rem;
  max-width: 50%;
}

section.wave .programs .program .program-txt p {
  max-width: 300px;
  margin-block: 1.5rem;
}

section.wave .programs .program .program-txt a {
  color: white;
  font-size: 15px;
  font-weight: 400;
  position: relative;
}

section.wave .programs .program .program-txt a::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 0px;
  bottom: -4px;
  background-color: transparent;
  border-bottom: 1px solid #FF0066;
}

section.wave .programs .program.sec {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-align: end;
}

section.wave .programs .program.sec p {
  margin-left: auto;
}

@media (max-width: 1210px) {
  section.wave {
    background: none;
  }
}

@media (max-width: 632px) {
  section.wave {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 0px;
  }
  section.wave .program {
    gap: 10px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  section.wave .program .program-card.Card {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 100%;
  }
  section.wave .program .program-txt {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    max-width: 100% !important;
    text-align: center;
  }
  section.wave .program .program-txt p {
    margin-inline: auto;
  }
  section.wave .program .program-txt a::before {
    left: 0;
    right: 0;
    margin: auto;
  }
}

section.team {
  background-color: #fff;
  color: #001220;
  padding-block: 2rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

@media (max-width: 1024px) {
  section.team {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}

section.team .cards {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: .5rem;
  gap: 10px;
}

@media (max-width: 1024px) {
  section.team .cards {
    width: 100%;
    padding-bottom: 2rem;
    row-gap: 30px;
  }
  section.team .cards .TeamCards {
    width: 250px;
  }
}

@media (max-width: 905px) {
  section.team .cards .TeamCards {
    width: 300px;
  }
}

section.team .diff {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  font-size: 14px;
}

section.team h3 {
  margin: 0 auto 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 2rem;
}

section.team p {
  font-size: 13px;
  text-align: justify;
}

section.team a {
  color: inherit;
}

section.faq {
  height: 600px;
  padding: 2rem .5rem;
}

section.faq .top span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

section.faq .top h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-inline: auto;
  font-size: 2rem;
}

section.faq .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 90%;
  margin-inline: auto;
}

section.faq .wrapper .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: .5rem;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.faq .wrapper .left .questions {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

section.faq .wrapper .divider {
  border: 1px solid rgba(128, 128, 128, 0.42);
  margin-inline: .5rem;
  height: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

section.faq .wrapper .right {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: .5rem;
}

section.faq .wrapper .right h3 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

section.faq .wrapper .right p {
  max-width: 400px;
  line-height: 25px;
}

section.faq .wrapper .right button {
  margin-top: 2rem;
  padding: .5rem 3rem;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-box-shadow: 2px 2px 3px 1px #ff5197;
          box-shadow: 2px 2px 3px 1px #ff5197;
}

section.faq .wrapper .right button:hover {
  background-color: transparent;
  color: white;
  border: 2px solid;
}

@media (max-width: 905px) {
  section.faq .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  section.faq .wrapper .divider {
    display: none;
  }
  section.faq .wrapper .left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-block: 1rem;
  }
  section.faq .wrapper .left .questions {
    height: 100%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  section.faq .wrapper .right {
    width: 100%;
  }
  section.faq .wrapper .right p {
    max-width: 80%;
  }
}

@media (max-width: 524px) {
  section.faq .wrapper {
    width: 100%;
  }
  section.faq .wrapper .left .qst {
    font-size: 15px;
  }
  section.faq .wrapper .right {
    text-align: center;
  }
  section.faq .wrapper .right h3 {
    margin-inline: auto;
  }
  section.faq .wrapper .right p {
    max-width: 100%;
  }
}

@media (max-width: 905px) {
  section.faq {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
}
/*# sourceMappingURL=HomePage.css.map */