@import "../../styles/responsive.scss";

.hero {
  height: 600px;
  background: url("/imgs/hero.webp");
  // object-fit: contain;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;

  position: relative;
  z-index: 0;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 60%;
    color: white;
    padding: 0.5rem 1rem;

    h1 {
      // color: transparent;
      font-size: 6rem;
      max-width: 650px;
      text-transform: uppercase;
    }

    p:nth-of-type(1) {
      font-style: italic;
    }
    p {
      max-width: 500px;
      margin-block: 0.5rem;
      // text-shadow: 2px 2px 2px grey;
      text-align: justify;
    }

    a {
      width: 230px;
      margin-top: 2rem;
      padding: 1rem 3rem;
      background-color: #fff;

      color: #001220;
      cursor: pointer;

      font-weight: 600;

      border: 2px solid white;
      border-radius: 5px;
      transition: all 0.3s ease;
      box-shadow: 4px 4px 3px 1px #ff5197;

      &:hover {
        background-color: transparent;
        color: white;
      }
    }

    @include xsm {
      flex: none;
      margin-top: 9rem;

      h1,
      p,
      a {
        text-align: center;
        margin-inline: auto;
      }

      h1 {
        font-size: 4.5rem;
      }

      a {
        padding: 0.7rem;
      }

      p:nth-of-type(1) {
        font-size: 14px;
      }
    }

    @include xxsm {
      h1 {
        font-size: 3rem;
      }
    }
  }

  .items {
    width: 90%;
    position: absolute;
    bottom: -70px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: #fff;

    .item {
      text-align: center;
      z-index: 1;
      padding: 0.5rem;

      color: #001220;

      .icon {
        position: relative;

        .ic-bg {
          position: absolute;
          top: 15px;
          right: 0px;
          left: 50px;
          border-radius: 50%;
          margin: auto;
          display: block;
          width: 40px;
          height: 40px;
          background-color: #ff0066;
          z-index: -1;
        }
      }
    }

    @include md {
      width: 100%;
      left: 0;
      right: 0;
    }

    @include xsm {
      position: relative;
      gap: 10px;
      flex-direction: column;
      padding-block: 2rem;
    }
  }

  @include xsm {
    flex-direction: column;
    height: fit-content !important;

    padding: 4rem 0em;

    &.overlay {
      border-image-source: linear-gradient(
        hsla(0, 0%, 1%, 0.411),
        hsla(0, 0%, 0%, 0.749)
      );
      border-image-slice: fill 1;
    }

    .items {
      margin-bottom: 1rem;
    }
  }
}

section.wave {
  height: 800px;
  padding-top: 150px;
  background-color: #001220;
  background: url("./imgs/waves.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -310px;
  color: white;

  .programs {
    width: 95%;
    margin-inline: auto;
    height: max-content;

    .program {
      display: flex;
      gap: 100px;
      height: 250px;
      padding: 0.5rem;
      margin-bottom: 3rem;
      align-items: center;
      justify-content: center;

      .program-card {
        flex: 1;
      }

      .program-txt {
        flex: 2;
        padding: 0.5rem;
        max-width: 50%;

        p {
          max-width: 300px;
          margin-block: 1.5rem;
        }

        a {
          color: white;
          font-size: 15px;
          font-weight: 400;
          position: relative;
        }

        a::before {
          content: "";
          position: absolute;
          width: 40px;
          height: 0px;
          bottom: -4px;
          background-color: transparent;
          border-bottom: 1px solid #ff0066;
        }
      }

      &.sec {
        flex-direction: row-reverse;
        text-align: end;

        p {
          margin-left: auto;
        }
      }
    }
  }

  @include xlg {
    background: none;
  }

  @include xsm {
    height: fit-content;
    padding-top: 0px;

    .program {
      gap: 10px !important;
      flex-wrap: wrap;
      height: fit-content !important;

      .program-card.Card {
        flex: none;
        width: 100%;
      }

      .program-txt {
        flex: none;
        max-width: 100% !important;
        text-align: center;

        p {
          margin-inline: auto;
        }

        a::before {
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }
}

section.team {
  background-color: #fff;
  color: #001220;
  padding-block: 2rem;
  height: max-content;

  @include lg {
    height: fit-content;
  }

  .cards {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0.5rem;
    gap: 10px;

    @include lg {
      width: 100%;
      padding-bottom: 2rem;
      row-gap: 30px;

      .TeamCards {
        width: 250px;
      }
    }

    @include md {
      .TeamCards {
        width: 300px;
      }
    }
  }

  .diff {
    display: block;
    width: fit-content;
    margin: auto;
    font-size: 14px;
  }

  h3 {
    margin: 0 auto 2rem;
    width: fit-content;
    font-size: 2rem;
  }

  p {
    font-size: 13px;
    text-align: justify;
  }

  a {
    color: inherit;
  }
}

section.faq {
  height: 600px;
  padding: 2rem 0.5rem;

  .top {
    span {
      display: block;
      width: fit-content;
      margin: 0 auto;
    }

    h3 {
      width: fit-content;
      margin-inline: auto;
      font-size: 2rem;
    }
  }

  .wrapper {
    display: flex;
    height: 100%;
    width: 90%;
    margin-inline: auto;

    .left {
      flex: 1;
      padding: 0.5rem;
      min-height: max-content;
      align-self: center;

      .questions {
        flex-direction: column;
        row-gap: 10px;
      }
    }

    .divider {
      border: 1px solid rgba(128, 128, 128, 0.42);
      margin-inline: 0.5rem;
      height: 50%;
      align-self: center;
    }

    .right {
      flex: 1;
      align-self: center;
      padding: 0.5rem;

      h3 {
        width: fit-content;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      p {
        max-width: 400px;
        line-height: 25px;
      }

      button {
        margin-top: 2rem;
        padding: 0.5rem 3rem;
        cursor: pointer;

        border: 2px solid transparent;
        border-radius: 5px;
        transition: all 0.3s ease;
        box-shadow: 2px 2px 3px 1px #ff5197;

        &:hover {
          background-color: transparent;
          color: white;
          border: 2px solid;
        }
      }
    }

    @include md {
      flex-direction: column;

      .divider {
        display: none;
      }

      .left {
        align-items: center;
        margin-block: 1rem;

        .questions {
          height: 100%;
          justify-content: space-evenly;
        }
      }

      .right {
        width: 100%;

        p {
          max-width: 80%;
        }
      }
    }

    @include xxsm {
      width: 100%;

      .left {
        .qst {
          font-size: 15px;
        }
      }

      .right {
        text-align: center;

        h3 {
          margin-inline: auto;
        }

        p {
          max-width: 100%;
        }
      }
    }
  }

  @include md {
    height: fit-content;
  }
}
