@import "../../../styles/responsive.scss";

main.main_records {
  margin: 0;
  height: 80dvh;
  overflow-y: auto;

  scrollbar-width: none;
}
main .records {
  display: grid;
  place-items: center;
  height: 100%;

  .wrap {
    width: 80%;

    h2 {
      color: white;
    }
  }
  .record-type {
    color: #001220;
    padding: 0.2rem;
    width: 100%;
    border: 1px solid;
    display: flex;
    flex-wrap: wrap;

    div {
      border: 1px solid;
      // display: inline-block;
      padding: 0.2rem 2rem;
      margin-inline: 0.3rem;
      cursor: pointer;
      transition: all 0.3s ease;
      display: flex;
      align-items: center;

      &:hover:not(.active) {
        background-color: #001220;
        color: white;
        border-color: white;
      }

      &.active {
        background-color: #001220;
        color: white;
      }

      &:last-of-type {
        margin-left: auto;
      }
    }
  }

  form {
    #place_of_baptism:hover,
    #place {
      cursor: not-allowed;
    }
    h1 {
      color: #001220;
    }
    .feedback {
      width: 100%;
      max-height: 100px;
      margin-top: 0.5rem;

      .msg {
        display: block;
        height: fit-content;
        max-width: 70%;
        padding: 0.2rem 2rem;
        border: 1px solid;
        color: white;
        overflow: hidden;
        overflow-y: auto;

        &.hide {
          display: none;
        }
        &.failure {
          background-color: red;
        }
        &.success {
          background-color: rgb(152, 224, 45);
        }
      }
    }

    .input-grp#uniq {
      div:last-of-type {
        max-width: 20%;

        @include xxsm {
          max-width: initial;
        }
      }
    }
  }
  .lb-no,
  .lm-no {
    // display: none;
    border: 1px solid #001220;
    width: fit-content;
    color: #001220;
    position: sticky;
    top: 3px;
    left: 85%;
    font-size: 3rem;
    max-width: 20%;
    overflow: hidden;
    overflow-x: auto;
    background-color: #001220;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    padding: 0.2rem;

    scrollbar-width: none;
  }
  @include md {
    .record-type {
      display: flex;
      align-items: center;
      justify-content: space-between;
      row-gap: 5px;
      flex-wrap: wrap;

      div:last-of-type {
        margin: 0;
        width: 100%;
        text-align: center;
        justify-content: center;
      }
      #baptism,
      #marriage {
        width: 45%;
        margin: 0;
      }
    }
    .lm-no {
      font-size: 2rem;
    }
  }

  @include sm {
    .lm-no {
      font-size: 1.3rem;
      top: 0;
    }
  }
  @include xsm {
    .lm-no {
      left: 77.5% !important;
      border: none;
    }

    h2 {
      font-size: 1.2rem;
    }
  }
}
