.content {
  flex: 1;
  height: 100%;
  // margin-top: 60px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    display: none;
  }

  .outlet_wrap {
    height: fit-content;
    margin-block: auto;
    // overflow-y: auto;
  }
}
