.dashboard .main {
  padding: 0.5rem;
}

.dashboard .main .chart,
.dashboard .main .stat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  margin-bottom: 2rem;
}

.dashboard .main .chart .left,
.dashboard .main .stat .left {
  width: 75%;
  background-color: #fff;
  height: 500px;
}

.dashboard .main .chart .left .left_info,
.dashboard .main .stat .left .left_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-inline: 2rem;
  height: 40px;
}

.dashboard .main .chart .left .left_info .info_txt,
.dashboard .main .stat .left .left_info .info_txt {
  border-left: 3px double red;
  padding-left: 0.2rem;
}

.dashboard .main .chart .left .left_info .filter,
.dashboard .main .stat .left .left_info .filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dashboard .main .chart .left .left_info .filter div,
.dashboard .main .stat .left .left_info .filter div {
  border: 1px solid;
  padding: 0.5rem;
  cursor: pointer;
}

.dashboard .main .chart .left .left_info .filter div.active,
.dashboard .main .stat .left .left_info .filter div.active {
  background-color: rgba(128, 128, 128, 0.235);
  margin-inline: 0.1rem;
}

.dashboard .main .chart .left .plot,
.dashboard .main .stat .left .plot {
  margin-top: 1rem;
  height: calc(500px - 40px - 1.2rem);
}

.dashboard .main .chart .right,
.dashboard .main .stat .right {
  width: 25%;
  height: 500px;
  background-color: #fff;
}

.dashboard .main .chart .right .cats,
.dashboard .main .stat .right .cats {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  gap: 20px;
}

.dashboard .main .chart .right .cats .cat,
.dashboard .main .stat .right .cats .cat {
  text-align: center;
  padding: 0.2rem;
}

.dashboard .main .chart .right .cats .cat h3,
.dashboard .main .stat .right .cats .cat h3 {
  font-size: 2rem;
  color: tomato;
}

@media (max-width: 905px) {
  .dashboard .chart,
  .dashboard .stat {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .dashboard .chart .left,
  .dashboard .stat .left {
    width: 100% !important;
  }
  .dashboard .chart .right,
  .dashboard .stat .right {
    width: 100% !important;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .dashboard .chart .right .cats,
  .dashboard .stat .right .cats {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 10px !important;
  }
  .dashboard .chart .right .cats .cat,
  .dashboard .stat .right .cats .cat {
    width: 46%;
  }
  .dashboard .chart .right .cats .cat h3,
  .dashboard .stat .right .cats .cat h3 {
    font-size: 1.5rem !important;
  }
  .dashboard .chart .right .cats .cat p,
  .dashboard .stat .right .cats .cat p {
    font-size: 1rem;
  }
}

@media (max-width: 736px) {
  .dashboard .left {
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
  }
  .dashboard .left .left_info {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: -webkit-fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    gap: 10px;
    padding: 0.5rem;
    -webkit-box-align: center !important;
        -ms-flex-align: center !important;
            align-items: center !important;
    -webkit-box-pack: center !important;
        -ms-flex-pack: center !important;
            justify-content: center !important;
  }
  .dashboard .left .left_info .info_txt {
    border: none !important;
  }
  .dashboard .left .plot {
    height: 500px;
  }
  .dashboard .right .cat {
    border: 1px solid rgba(128, 128, 128, 0.432);
  }
}

@media (max-width: 632px) {
  .dashboard .left .left_info {
    padding-inline: 0 !important;
  }
  .dashboard .cats .cat {
    width: 100% !important;
  }
}
/*# sourceMappingURL=Dashboard.css.map */