@import "../../../styles/responsive.scss";

.dashboard {
  .main {
    padding: 0.5rem;
    height: 80dvh;

    .chart {
      display: flex;
      gap: 10px;
      margin-bottom: 2rem;
      height: 100%;

      .left {
        width: 75%;
        background-color: #fff;
        padding: 0.4rem;

        height: 100%;

        .left_info {
          display: flex;
          place-items: center;
          justify-content: space-between;
          padding-inline: 2rem;
          height: 40px;

          .info_txt {
            border-left: 3px double red;
            padding-left: 0.2rem;
            width: 100%;

            h4 {
              font-size: 1.5rem;
            }
          }

          .filter {
            display: flex;

            div {
              border: 1px solid;
              padding: 0.5rem;
              cursor: pointer;

              &.active {
                background-color: rgba(128, 128, 128, 0.235);
                margin-inline: 0.1rem;
              }
            }
          }
        }

        .plot {
          margin-top: 1rem;
          // background-color: tomato;
          height: calc(100% - 40px - 1.2rem);
        }
      }

      .right {
        width: 28%;
        background-color: #fff;

        .cats {
          display: flex;
          padding: 0.5rem;
          flex-direction: column;
          justify-content: center;
          height: 100%;
          gap: 20px;

          .cat {
            text-align: center;
            padding: 0.2rem;

            h3 {
              font-size: 2rem;
              color: tomato;
            }
          }
        }
      }
    }
  }

  @include lg {
    .main {
      height: fit-content;
    }
    .chart {
      flex-direction: column-reverse;

      .left {
        width: 100% !important;
        .left_info {
          .info_txt h4 {
            font-size: 1.3rem !important ;
            text-align: center;
          }
        }
      }

      .right {
        width: 100% !important;
        // height: fit-content !important;

        .cats {
          flex-direction: row !important;
          flex-wrap: wrap;
          gap: 10px !important;
          .cat {
            width: 46%;
            h3 {
              font-size: 1.5rem !important;
            }
            p {
              font-size: 1rem;
            }
          }
        }
      }
    }
  }

  @include sm {
    .chart .left {
      height: 400px !important;
      padding-block-end: 1.4rem !important;
    }
    .left {
      // height: fit-content !important;

      .left_info {
        flex-wrap: wrap;
        height: fit-content !important;
        gap: 10px;
        padding: 0.5rem;
        align-items: center !important;
        justify-content: center !important;

        .info_txt {
          border: none !important;
        }
      }
    }

    .right {
      .cat {
        border: 1px solid rgba(128, 128, 128, 0.432);
      }
    }
  }

  @include xsm {
    .left {
      .left_info {
        padding-inline: 0 !important;
      }
    }
    .cats {
      .cat {
        width: 100% !important;
      }
    }
  }
}
