@font-face {
  font-family: logo;
  src: url("/fonts/DancingScript-VariableFont_wght.ttf");
}

.flex-me {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide-in {
  right: 0 !important;
}

nav {
  border: 1px solid;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
  z-index: 9999;
  top: 15px;
  color: white;
  height: 60px;
}

nav .nav-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 40px;
}

nav .nav-logo img {
  width: 30%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav .nav-logo span {
  font-family: logo;
  font-size: 28px;
  font-weight: bold;
}

nav .nav-links-mb {
  display: none;
  position: relative;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@media (max-width: 905px) {
  nav .nav-links-mb {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 5px;
    background-color: #001220;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: -50%;
    top: -15px;
    bottom: 0;
    width: 50%;
  }
  nav .nav-links-mb a {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: white;
    font-size: 1.3rem;
    border: 1px solid rgba(128, 128, 128, 0.559);
    padding: 1rem;
    cursor: pointer;
    font-weight: bold;
  }
  nav .nav-links-mb a.active,
  nav .nav-links-mb a:hover {
    background-color: #ff5197;
  }
  nav .nav-links-mb .close {
    position: absolute;
    top: 25px;
    right: 0;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  nav .nav-links-mb .close svg {
    fill: #fff;
  }
}

@media (max-width: 632px) {
  nav .nav-links-mb {
    right: -100%;
    width: 100%;
    background-color: #0012209d;
    -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
  }
}

nav .nav-links {
  -webkit-box-flex: 2.5;
      -ms-flex: 2.5;
          flex: 2.5;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .nav-links .nav-item.dropdown {
  border: 1px solid;
  position: relative;
  height: 40px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

nav .nav-links .nav-item.dropdown ul {
  padding-top: 1.5rem;
  display: none;
  border: 1px solid red;
  position: absolute;
  width: 200px;
  left: 0;
  overflow: hidden;
}

nav .nav-links .nav-item.dropdown ul a {
  border: 1px solid;
  display: block;
  width: 100%;
  position: relative;
  left: -200px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-links .nav-item.dropdown:hover ul {
  display: inherit;
}

nav .nav-links .nav-item.dropdown:hover ul a {
  left: 0;
}

@media (max-width: 905px) {
  nav .nav-links .nav-item.dropdown {
    display: none;
  }
}

nav .nav-links a {
  position: relative;
  -webkit-margin-end: 10px;
          margin-inline-end: 10px;
  color: inherit;
  height: 40px;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

@media (max-width: 1024px) {
  nav .nav-links a {
    padding: 0.5rem;
  }
}

@media (max-width: 905px) {
  nav .nav-links a {
    display: none;
  }
}

nav .nav-links a.cta:last-of-type {
  border-radius: 5px;
  -webkit-box-shadow: 4px 3px 3px 1px #ff5197;
          box-shadow: 4px 3px 3px 1px #ff5197;
  background-color: #fff;
  color: #001220;
  padding-inline: 2rem;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-links a.cta:last-of-type::after {
  display: none;
}

nav .nav-links a.cta:last-of-type:hover {
  background-color: #001220;
  border-color: white;
  color: white;
}

nav .nav-links a::after {
  content: "";
  width: 0px;
  height: 3px;
  background-color: #ff5197de;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

nav .nav-links a:hover::after {
  background-color: #ff5197de;
  width: 100%;
}

nav .hb-menu-ic {
  display: none;
  cursor: pointer;
}

@media (max-width: 905px) {
  nav .hb-menu-ic {
    display: initial;
    margin-right: 0.5rem;
  }
}
/*# sourceMappingURL=Navbar.css.map */