.viewrecord {
  .records {
    min-height: fit-content;
  }
  .wrap {
    width: 95% !important;
    height: fit-content;
  }
  .archive_result {
    overflow: hidden;
    width: 95% !important;
    margin: 1rem 0 2rem;
  }

  .table {
    width: 100%;
  }
}
