.viewrecord {
  position: relative !important;
  display: block;
  .records {
    min-height: fit-content;
    display: block;

    .msg {
      height: 30px;
      padding: 0.3rem;
      width: 80%;
      margin: auto;
      margin-bottom: 1rem;
      color: white;

      &.success {
        background-color: lightgreen;
      }
      &.failure {
        background-color: red;
      }
    }
  }
  .wrap {
    width: 95% !important;
    height: fit-content;
  }
  .archive_result {
    overflow: hidden;
    width: 95% !important;
    margin: 1rem 0 2rem;
  }

  .table {
    width: 100%;
  }
}
