@import "../../../styles/responsive.scss";

@font-face {
  font-family: logo;
  src: url("/fonts/DancingScript-VariableFont_wght.ttf");
}

.flex-me {
  display: flex;
  align-items: center;
}

.slide-in {
  right: 0 !important;
}

nav {
  width: 100%;
  justify-content: space-between;
  position: relative;
  flex-wrap: wrap;
  z-index: 2999;
  top: 0;
  color: white;
  height: 60px; // subject to change , this was added when working on dashboard

  .nav-logo-wrap {
    flex: 1;
    padding-inline-start: 0.5rem;

    .nav-logo {
      width: max-content;
      color: white;
      gap: 10px;

      .img-wrap-logo {
        height: 40px;
        width: 40px;

        border-radius: 50%;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          background-color: #fff;
        }
      }

      span {
        font-family: logo;
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }

  .nav-links-mb {
    display: none;
    position: relative;
    transition: all 0.3s ease;

    .nav-item-drop-mb {
      font-size: 1.3rem;
      font-weight: 600;
      max-height: 60px;
      padding: 0.5rem 1rem;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s ease-in-out;

      div {
        display: flex;
        justify-content: space-between;
        height: 40px;
        align-items: center;

        span {
          width: 100%;
        }

        #arrow_drop {
          width: 40px;
          place-items: center;
        }
      }
      a {
        display: grid;
        margin-block: 1rem;
        margin-inline-start: 1rem;
        width: 90%;
        height: 40px;
        border: 1px solid;
        padding: 0.3rem 0.3rem 0.3rem 1rem;
        align-items: center;

        &:hover {
          transform: translateX(20px);
        }
      }

      &:hover {
        background-color: #ff5197;
      }
    }
    a.cta:last-of-type {
      border-radius: 5px;
      box-shadow: 4px 3px 3px 1px #ff5197;
      background-color: #fff;
      color: #001220;
      border: 2px solid transparent;
      transition: all 0.3s ease;
      width: 90%;
      height: 50px;
      place-items: center;
      padding: 0.5rem;
      text-align: center;
      margin: 1rem 1rem 0;

      &::after {
        display: none;
      }

      &:hover {
        background-color: #001220;
        border-color: white;
        color: white;
      }
    }

    .links-mb {
      margin-top: 3rem;
      display: flex;
      gap: 2px;
      height: 700px;
      flex-direction: column;
      justify-content: center;
    }

    a.active {
      background-color: #ff5197;
    }
    @include md {
      position: fixed;
      display: flex;
      justify-content: center;
      gap: 5px;
      background-color: #001220;
      flex-direction: column;
      right: -50%;
      top: -15px;
      bottom: 0;
      width: 50%;

      a {
        transition: all 0.3s ease;
        color: white;
        font-size: 1.3rem;
        // border: 1px solid rgba(128, 128, 128, 0.559);
        padding: 1rem;
        cursor: pointer;
        font-weight: bold;
      }

      a:hover {
        background-color: #ff5197;
      }

      .close {
        svg {
          fill: #fff;
        }

        position: absolute;
        top: 25px;
        right: 0;
        margin-right: 0.5rem;
        cursor: pointer;
      }
    }

    @include xsm {
      right: -100%;
      width: 100%;
      background-color: #0012209d;
      backdrop-filter: blur(20px);
    }
  }

  .nav-links {
    flex: 2.5;
    height: 40px;
    justify-content: space-around;

    .nav-item.dropdown {
      position: relative;
      height: 40px;
      padding: 0.5rem 1rem;
      cursor: pointer;

      ul {
        padding-top: 1.5rem;
        display: none;
        position: absolute;
        width: 250px;
        left: 0;
        overflow: hidden;

        a {
          border: 1px solid;
          display: block;
          width: 100%;
          position: relative;
          left: -200px;
          background-color: #001220;
          margin-top: 0.5rem;
        }
      }

      &:hover ul {
        display: inherit;

        a {
          left: 0;
        }
      }

      @include md {
        display: none;
      }
    }

    a {
      position: relative;
      margin-inline-end: 10px;
      color: inherit;
      height: 40px;
      padding: 0.5rem 1rem;
      text-decoration: none;

      @include lg {
        padding: 0.5rem;
      }

      @include md {
        display: none;
      }
    }

    a.cta:last-of-type {
      border-radius: 5px;
      box-shadow: 4px 3px 3px 1px #ff5197;
      background-color: #fff;
      color: #001220;
      padding-inline: 2rem;
      border: 2px solid transparent;
      transition: all 0.3s ease;

      &::after {
        display: none;
      }

      &:hover {
        background-color: #001220;
        border-color: white;
        color: white;
      }
    }

    a::after {
      content: "";
      width: 0px;
      height: 3px;
      background-color: #ff5197de;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: all 0.3s ease;
    }

    a:hover::after {
      background-color: #ff5197de;
      width: 100%;
    }
  }

  .hb-menu-ic {
    display: none;
    cursor: pointer;

    @include md {
      display: initial;
      margin-right: 0.5rem;
    }
  }

  a.active {
    &::after {
      background-color: #ff5197de !important;
      width: 100%;
    }
  }
}
