.TeamCards {
    border: 1px solid rgba(128, 128, 128, 0.242);
    border-radius: 5px;
    min-width: 250px;
    height: 100%;
    padding: .6rem;
    transition: all .3s ease;
    text-align: center;

    .Card {
        margin: auto;
        width: 100%;
    }

    .card-deit {
        margin-block: .5rem;
        height: max-content;

        .socials {
            margin-block: .5rem;

            svg {
                width: 40px;
                height: 40px;
                margin-right: 1rem;
            }
        }

        h4 {
            letter-spacing: 1px;
        }
        span{
            font-style: italic;
            font-size: 13px;

        }

    }

    &:hover{
        box-shadow: 0px 3px 2px #4d001f9e;
    }
}