@import "../../../styles/responsive.scss";

.table {
  color: black;
  width: 80%;
  margin: auto;
  overflow-x: auto;
  padding-block-end: 0.8rem;

  &::-webkit-scrollbar {
    height: 2px;
  }

  table {
    width: 100%;

    text-align: center;
    thead {
      background-color: black;
      color: white;
    }
    th,
    td {
      white-space: nowrap;
    }
    th {
      padding-inline: 0.2rem;
    }
    td {
      padding-inline: 1rem;
    }

    svg {
      color: #001220;
      width: 40px;
      cursor: pointer;
    }
    td.delete_btn_wrap:hover,
    td.edit_btn_wrap:hover {
      background-color: #001220;
      svg {
        color: white;
      }
    }
    td.delete_btn_wrap {
      padding: 0;
      display: flex;
      height: 30px;
      place-items: center;
      transition: all 0.3s ease;
    }
    td.edit_btn_wrap {
      padding: 0;
      transition: all 0.3s ease;

      a {
        width: 40px;
        display: flex;
        height: 29px;
        place-items: center;
      }
    }
  }

  @include sm {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        padding: 10px;
        text-align: left;
        border: 1px solid #ddd;
        font-size: 14px;
      }
    }
  }
}
