@import "../../responsive.scss";

.Footer {
    height: 250px;

    border-top: 1px solid rgba(255, 255, 255, 0.502);

    .wrapper {
        display: flex;
        height: 100%;

        .col-1 {
            flex: 1;
            padding: .5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            p {
                max-width: 400px;
            }

            span {
                border: 1px solid;
                margin-inline-end: 1rem;
                padding: .5rem;
            }
        }

        .divider{
            border: 1px solid grey;
            height: 80%;
            align-self: center;
        }
        .col-2 {
            flex: 1;
            padding: .5rem;

            .diff {
                font-size: 1rem;
                margin-block: .5rem;
            }

            .links {
                width: 50%;
                place-items: center;
                padding: .5rem 0;
                display: flex;
                flex-wrap: wrap;
                gap: 10px;

                a {
                    display: block;
                    width: fit-content;
                    border: 1px solid;
                    padding: .5rem 1rem;
                    margin-block-end: .5rem;
                    color: white;
                    transition: all .3s ease;

                    &:hover {
                        background-color: #FF0066;
                    }
                }

                @include md{
                    width: 90%;
                }
            }
        }

        @include xxsm{
            height: fit-content;
            flex-direction: column;

            .col-1{
                flex: none;
                height: 220px;
            }
            
            .divider{
                display: none;
            }

        }
    }

    .copy {
        text-align: center;
        padding-block: .5rem;
        background-color: #fff;
        color: #001220;
    }


}