@import "./styles/responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  // font-family: sans-serif;
  font-family: "Gill Sans ", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  background-color: #001220;
  color: white;
  position: relative;

  #root {
    display: flex;
    flex-direction: column;

    footer.Footer {
      margin-top: auto;
    }
  }
}

a {
  text-decoration: none;
}

//Global Classes
.show {
  height: 150px !important;

  span:nth-of-type(2) {
    transform: rotate(0deg) !important;
  }

  @include xxsm {
    height: 180px !important;
  }
}

.diff {
  color: #ff0066;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 2px;
}

.contact_info_sect {
  width: 90%;
  margin: 2rem auto;
  height: fit-content;
  display: flex;

  .left {
    flex: 1.5;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 25px 0px;

    .form-section {
      height: 100%;

      .wrap {
        width: 90%;
      }
    }

    #message {
      height: 100px;
    }
  }

  .right {
    flex: 1;
    height: auto;

    .channels {
      display: flex;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      padding: 2rem;

      h3 {
        font-weight: 100;
      }

      p {
        color: rgb(96, 95, 95);
        transition: all 0.3s ease-in-out;
      }

      a {
        &:hover {
          p {
            color: #ff5197;
          }
        }
      }

      @include xsm {
        text-align: center;
      }
    }
  }

  @include sm {
    flex-direction: column-reverse;
    // border: 1px solid;
    width: 99%;
    margin-bottom: 0;
  }
}

// End Of Global Classes

section.top {
  height: 350px;
  display: grid;
  place-items: center;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 -450px;
  position: relative;

  .overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.854);
    backdrop-filter: blur(5px);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .text {
    h1 {
      font-weight: 100;
      font-size: 3rem;
    }

    h2 {
      font-style: italic;
      font-weight: 100;
    }

    z-index: 1;
  }
}

// Added this chunk after commenting the .scss for Baptism
section.top {
  border-image-source: linear-gradient(hsl(0, 100%, 50%), hsl(0, 0%, 0%));
  border-image-slice: 1 fill;
}

.form-section {
  // border: 1px solid;
  min-height: max-content;
  padding-block: 1rem;

  background-color: #fff;

  .form-header {
    h2 {
      border: 1px solid;
      text-align: center;
      padding: 2rem;
      background-color: black; //#ff5197
      font-weight: 100;
    }
  }

  .wrap {
    // border: 1px solid;
    width: 60%;
    margin: auto;

    form {
      // border: 1px solid;
      margin: auto;
      padding: 1rem 0;

      .row {
        margin-bottom: 1rem;
        // border: 1px solid;

        // ***** Changes i made after adding divs and labels****

        // &.input-grp input:nth-of-type(1) {
        //     width: 60%;
        //     margin-right: 9%;

        //     @include xxsm {
        //         width: 100%;
        //         margin-right: 0;
        //         margin-bottom: 1rem;
        //     }
        // }

        // &.input-grp input:nth-of-type(2) {
        //     width: 20%;
        //     appearance: none;
        //     -moz-appearance: textfield;

        //     @include xxsm {
        //         width: 100%;
        //     }
        // }

        &.input-grp {
          display: flex;
          align-items: center;
          gap: 10px;

          div {
            flex: 1;

            @include xxsm {
              width: 100%;
            }
          }

          @include xxsm {
            flex-direction: column;
          }
        }
      }

      input {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        color: black;
        border-bottom: 1px solid rgba(6, 6, 6, 0.235);
        // padding-left: .5rem;

        appearance: none;
        -moz-appearance: textfield;

        &:focus {
          outline: none;
        }

        &[type="radio"] {
          border: 1px solid red;
          font-size: 1rem;
        }
      }

      label {
        display: block;
        margin-bottom: 0.2rem;
        color: black;
        font-family: consolas;
      }

      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        color: black;

        padding: 0.2rem 0.5rem;
        border: 1px solid rgba(6, 6, 6, 0.235);
      }

      textarea {
        width: 100%;
        height: 250px;
        background-color: transparent;
        border: none;
        color: black;
        padding: 0.5rem;
        border-block: 1px solid rgba(6, 6, 6, 0.235);
        resize: none;

        &:focus {
          outline: none;
        }
      }

      button {
        padding: 0.5rem 2rem;
        border: none;
        background-color: #ff0066;
        transition: all 0.3s ease;
        color: white;
        cursor: pointer;

        //margin-top: 2rem; //comented this out when i added the pop up after a form is submited

        &:hover {
          background-color: #001220;
        }
      }

      .wed_in {
        padding: 0.2rem;
        display: flex;
        gap: 10px;
        width: fit-content;

        label {
          display: flex;
          place-items: center;
          justify-content: flex-start;
          padding: 0.2rem;
          width: 60px;
          height: fit-content;
          cursor: pointer;

          input {
            margin: 0.2rem;
            height: 30%;
            width: 30%;
            cursor: pointer;

            &[type="radio"] {
              height: 12px;

              &:checked {
                background-color: red;
              }
            }
          }
        }
      }
    }

    @include xsm {
      width: 95%;
    }

    @include xxsm {
      width: 90%;
    }
  }
}

// Chunk ends here
