@import "../../styles/responsive.scss";

.mass.form-section {
  // border: 1px solid;
  min-height: max-content;
  padding: 180px 0 ;

  background-color: #fff;

.intro_text{
  div.disclaimer{
    font-style: italic;
    margin-top: 1rem;
  }
}

  .form-header {
    h2 {
      border: 1px solid;
      text-align: center;
      padding: 2rem;
      background-color: black; //#ff5197
      font-weight: 100;
      // color: white;
    }
  }

  .wrap {
    // border: 1px solid;
    width: 60%;
    margin: auto;

    form {
      // border: 1px solid;
      margin: auto;
      padding: 1rem 0;

      .row {
        margin-bottom: 1rem;
        // border: 1px solid;

        // ***** Changes i made after adding divs and labels****

        // &.input-grp input:nth-of-type(1) {
        //     width: 60%;
        //     margin-right: 9%;

        //     @include xxsm {
        //         width: 100%;
        //         margin-right: 0;
        //         margin-bottom: 1rem;
        //     }
        // }

        // &.input-grp input:nth-of-type(2) {
        //     width: 20%;
        //     appearance: none;
        //     -moz-appearance: textfield;

        //     @include xxsm {
        //         width: 100%;
        //     }
        // }

        &.input-grp {
          display: flex;
          gap: 10px;

          div {
            flex: 1;

            @include xxsm {
              width: 100%;
            }
          }

          @include xxsm {
            flex-direction: column;
          }
        }
      }

      input {
        width: 100%;
        height: 40px;
        background-color: transparent;
        border: none;
        color: black;
        border-bottom: 1px solid rgba(6, 6, 6, 0.235);
        // padding-left: .5rem;

        appearance: none;
        -moz-appearance: textfield;

        &:focus {
          outline: none;
        }
      }

      label {
        display: block;
        margin-bottom: 0.2rem;
        color: black;
        font-family: consolas;
      }

      select {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        background-color: transparent;
        color: black;

        padding: 0.2rem 0.5rem;
        border: 1px solid rgba(6, 6, 6, 0.235);
      }

      textarea {
        width: 100%;
        height: 250px;
        background-color: transparent;
        border: none;
        color: black;
        padding: 0.5rem;
        border-block: 1px solid rgba(6, 6, 6, 0.235);
        resize: none;

        &:focus {
          outline: none;
        }

        &#note {
          height: 100px;
          margin-bottom: 2rem;
        }
      }

      button {
        padding: 0.5rem 2rem;
        border: none;
        background-color: #ff0066;
        transition: all 0.3s ease;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #001220;
        }
      }
    }

    @include xsm {
      width: 95%;
    }

    @include xxsm {
      width: 90%;
    }
  }

  @include xsm{
    padding: 100px 0;
  }
}
