.loader {
  position: absolute;
  top: 0;
  height: 100dvh;
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 300;
  background: linear-gradient(#001220, rgb(43, 4, 4));
  //   background-color: red;
}
